.slick-dots {
  bottom: 10px;
  left: 15px;
  width: auto;

  @include MQ(S) {
    bottom: 30px;
    width: 100%;
  }
  
  li {
    @include transition(all .35s ease);

    background: rgba(black, .34);
    display: block;
    border-radius: 50%;
    height: 10px;
    margin: 3px 4px;
    width: 10px;

    &.slick-active {
      background: white;
    }

    button {
      display: none;
    }

    @include MQ(S) {
      display: inline-block;
      height: 14px;
      margin: 0 4px;
      width: 14px;
    }
  }
}

.slick-dotted.slick-slider{
  margin: 0;
}