.SiteFooter {
  background-color: $ship ;
  padding: 45px 0;
  position: relative;

  &__logo {
    display: block;
    max-width: 220px;
    margin: 0 auto;

    @include MQ(S) {
      display: inline-block;
      vertical-align: middle;
      margin: 4px 0 0;
    }
  }

  &__social {
    text-align: center;

    @include MQ(S) {
      display: inline-block;
      float: right;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @include MQ(S) {
        display: inline-block;
        vertical-align: middle;
      }
    }

    li {
      border-radius: 50%;
      border: 2px solid white;
      display: inline-block;
      height: 40px;
      text-align: center;
      width: 40px;
      margin: 0 10px;

      @include MQ(S) {
        margin: 0 3px;
      }

      @include MQ(M) {
        @include transition(background-color .3s ease);

        &:hover {
          background-color: white;
        }
      }

      a {
        display: block;
        height: 100%;
        position: relative;

        &:hover {
          .icon {
            fill: black;
          }
        }
      }

      img,
      svg {
        @include center;
        max-height: 20px;
        max-width: 20px;
        position: absolute;

        .icon {
          @include transition(fill .3s ease);
        }
      }
    }

    span {
      font-weight: 600;
      color: white;
      display: block;
      margin: 45px 0 25px;

      @include MQ(S) {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }

  .inffus {
    bottom: 15px;
    position: absolute;
    right: 15px;
  }
}