@import 'mixins';
@import 'colors';
@import 'fonts';
@import 'elements';
@import 'header';
@import 'footer';

img{
  max-width: 100%;
}

* {
  font-family: $mont;
}

body{
  background-color: $shark;

  &.overflowHidden{
    overflow: hidden;
  }
}

html, body {
  height: 100%;
  margin: 0; padding: 0;  /* to avoid scrollbars */
}

.PageWrapper {
  display: flex;  /* use the flex model */
  flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100%;
  overflow: hidden;
}

.PageContent{
  background-color: $athens-gray;
	flex: 1;
  margin-top: 70px;

  @include MQ(S){
    margin-top: 0;
  }
}

.Banner {
  height: 380px;
  margin: 0;

  .container {
    height: 100%;
    position: relative;
  }

  @include MQ(S) {
    height: 600px;
  }

  @include MQ(M) {
    height: 800px;
  }

  &__item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
  }

  &__content {
    border: 2px solid white;
    bottom: 60px;
    left: 0;
    margin: 0 auto;
    max-width: 300px;
    padding: 15px;
    position: absolute;
    right: 0;
    width: 90%;

    @include MQ(S){
      left: inherit;
      right: 5%;
      width: 300px;
    }

    @include MQ(M){
      right: 10%;
      padding: 30px 30px 50px;
    }

    h2 {      
      color: white;
      font-size: 30px;
      font-weight: 300;
      margin: 0;

      span {
        display: block;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 6px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      @include MQ(S) {
        font-size: 30px;

        span {
          font-size: 14px;
        }
      }

      @include MQ(S) {
        font-size: 36px;

        span {
          font-size: 16px;
        }
      }
    }
  }

  &__link {
    bottom: 15px;
    color: white;
    display: block;
    font-weight: 600;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    font-size: 16px;
    text-decoration: underline;

    @include MQ(S) {
      font-size: 20px;
      text-decoration: none;
      left: 10%;
      right: inherit;
      bottom: 70px;
    }

    &:focus,
    &:hover {
      color: white;
    }
  }
}

.Grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    overflow: hidden;
    width: 100%;

    &:hover {
      text-decoration: none;
    }

    @include MQ(570px){
      width: 50%;
    }

    @include MQ(S){
      width: 50%;
    }
 
    @include MQ(M) {
      @include transition(all .3s ease);
      box-shadow: 0;
      position: relative;
      width: 25%;
      
      &::after {
        @include transition(all .3s ease);
        background-color: $ship;
        bottom: 0;
        content: "";
        height: 4px;
        display: block;
        left: 0;
        position: absolute;
        width: 0;
      }

      &:hover {
        box-shadow: 0 2px 4px 1px rgba(black, .5);
        cursor: pointer;
        z-index: 1;

        &::after{
          width: 100%;
        }
      }
    }

    &:nth-child(3n+1) {
      background-color: $gray-nurse;
    }

    &:nth-child(3n+2) {
      background-color: $porcelain;
    }

    &:nth-child(3n+3) {
      background-color: $silver;
    }


  }

  &__img {
    height: 275px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    @include MQ(S) {
      height: 225px;
    }

  }

  &__content {
    padding: 30px 20px;

    @include MQ(S) {
      padding: 25px 40px 35px;
    }

    h4 {
      color: $mine-shaft;
      font-family: $ss;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 40px;
      margin-top: 0;
      text-transform: uppercase;

      small {
        color: $ship;
        display: block;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 6px;
        line-height: 1.2;
        margin-bottom: 8px;
        text-transform: lowercase;
      }
    }
  }

  &__load {
    padding: 60px 0;

    @include MQ(S) {
      
    }
  }

  &__load {
    text-align: center;
  }

  &__loadmore {
    color: $mine-shaft;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    position: relative;    

    &::after{
      @include transition(all .3s ease);
      background-color: $mine-shaft;
      bottom: -5px;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      opacity: 0;
      position: absolute;
      width: 100%;
    }
    

    &:hover{
      color: $mine-shaft;
      text-decoration: none;

      &::after{
        bottom: 0;
        opacity: 1;
      }
    }
  }

}

.Car-info {
  &__date,
  &__price {
    color: $mine-shaft;
    font-family: $ss;
    font-size: 18px;
    padding-left: 40px;
    letter-spacing: 6px;
    position: relative;

    &::before {
      @include center(y);
      content: "";
      display: inline-block;
      height: 18px;
      left: 0;
      position: absolute;
      width: 18px;
    }

    @include MQ(S) {
      font-size: 22px;

      &::before {
        height: 24px;
        width: 24px;
      }
    }
  }

  &__date {
    font-weight: 500;
    margin-bottom: 10px;
    
    &::before {
      background: url(../img/icons/time.svg) 0 0/contain no-repeat;
    }
  }

  &__price{
    font-weight: 700;

    &::before {
      background: url(../img/icons/dolar.svg) 0 0/contain no-repeat;
    }
  }
}

.Info {
  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;

    @include MQ(S) {
      height: 440px;
    }

    @include MQ(M){
      height: 410px;
    }
  }

  &__text {
    padding: 30px 15px;

    @include MQ(S){
      padding: 40px 40px;
    }

    h3 {
      font-family: $ss;
      letter-spacing: 12px;
      margin-top: 0;
      font-size: 20px;
      color: $ship;
      font-weight: 400;
      margin-bottom: 30px;

      @include MQ(M) {
        font-size: 24px;
        letter-spacing: 18px;
      }
    }

    p {
      font-size: 14px;
      font-weight: 200;
      line-height: 1.6;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      @include MQ(M) {
        font-size: 16px;
      }
    }
  }

  &__item {
    @include MQ(S){
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      > div {
        width: 50%;
      }
    }

    &--right {
      @extend .Info__item;

      .Info__img {
        order: 1;
      }

      .Info__text {
        h3,
        p {
          text-align: right;
        }
      }
    }
  }

  &--border {    
    border-top: 1px solid #bebcbc;
  }  
}

.Instagram {
  background-color: $ship;
  padding-bottom: 40px;
  padding-top: 60px;

  h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    font-weight: 400;
    font-size: 18px;
    font-family: $ss;
    margin-bottom: 40px;

    @include MQ(S) {
      letter-spacing: 12px;
      font-size: 24px;

      br {
        display: none;
      }
    }
  }

  @include MQ(M) {
    padding-top: 80px;

    > .container {
      display: flex;
      align-items: center;
      max-width: 860px;
    }
  }

  &__box {
    > img {
      max-width: 265px;
      display: block;
      margin: 15px auto 0;
    }

    @include MQ(M) {
      margin-left: 60px;
      width: 60%;
    }
  }

  &__iphone {
    display: none;

    @include MQ(M) {
      display: block;
    }
  }
}

.Instafeed {
  @include clearfix;
  display: block;
  margin: 60px auto 0;
  max-width: 230px;

  @include MQ(S) {
    max-width: 460px;
  }

  &__item {
    float: left;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 115px;
    max-width: 115px;
    width: 100%;

    &:hover {
      a {
        &::after{
          opacity: 0;
        }
      }
    }

    a {
      display: block;
      height: 100%;
      position: relative;

      &::after{
        @include transition(opacity .3s ease);

        background: rgba(black, .15);
        content: "";
        height: 100%;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}

.Contato {
  display: flex;
  flex-direction: column;

  @include MQ(S) {
    flex-direction: row;
  }

  &__column {
    width: 100%;

    &:first-child {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 360px;

      @include MQ(S) {
        height: auto;
      }
    }

    &:last-child {
      padding: 30px;

      @include MQ(S) {
        padding: 90px 45px 120px;
      }
    }

    @include MQ(S) {
      width: 50%;
    }
  }

  h3,
  p {
    color: $ship;
  }

  h3 {
    font-family: $ss;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 12px;
    margin-bottom: 30px;
    margin-top: 0;

    @include MQ(S) {
      font-size: 24px;
      letter-spacing: 18px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 25px;
  }

  .Form {
    max-width: 330px;
    margin: 0;
  }
}

.Button {
  @include transition(all .3s ease);
  background-color: black;
  border: 1px solid black;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: 600;
  height: 50px;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  word-spacing: 4px;

  &:hover {
    background-color: white;
    color: black;
    text-decoration: none;
  }
}

.Form {
  width: 100%;

  &__group {
    margin-bottom: 15px;

    &.error {
      input, 
      textarea {
        border-color: #cd0027;
      }
    }
  }

  input,
  textarea {
    letter-spacing: 2px;
    word-spacing: 4px;
  }

  input,
  textarea {
    @include placeholder(black);
    @include transition(all .3s ease);

    border: 1px solid black;
    color: black;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    padding: 8px 20px;
    text-transform: uppercase;
    width: 100%;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 1px 1px rgba(black, .3 );
    }
  }

  textarea {
    resize: none;
  }

  input {
    height: 50px;
  }
}

.ContactList {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    padding-left: 35px;
    position: relative;
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 200;

    &::before {
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: inline-block;
      height: 20px;
      left: 0;
      position: absolute;
      top: -4px;
      width: 20px;
    }

    &:first-child {
      &::before {
        background-image: url(../img/icons/tel.svg);
      }
    }

    &:last-child {
      &::before {
        background-image: url(../img/icons/pin.svg);
      }
    }
  }
}

#map {
  height: 100%;
  width: 100%;
}

.Release {
  
  &__title {
    padding: 35px 0;
  }

  h3 {
    font-family: $ss;
    letter-spacing: 18px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.lux-modal {
  &-content {
    padding-bottom: 60px;

    @include MQ(M) {
      display: flex;
    }
  }

  &-slider {
    width: 100%;
  }

  &-slider__item {
    
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include MQ(S) {
      height: 415px;
    }
  }

  &__close {
    @include transition(all .3s linear);

    background-color: transparent;
    border: 0;
    display: inline-block;
    height: 35px;
    padding: 0;
    position: absolute;
    right: 15px;
    text-decoration: none;
    top: -4px;
    width: 35px;
    z-index: 2;

    @include MQ(M) {
      top: 15px;
      height: 50px;
      width: 50px;
    }

    span{
      @include center;
      @include transition(all .2s linear);

      background-color: transparent;
      display: block;
      height: 1px;
      position: relative;
      width: 100%;

      &::after, 
      &::before{
        @include transition(all .3s linear);
        @include transform(rotate(0));

        background-color: #848383;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }

      &::after{
        @include transform(rotate(-44deg));

        bottom: 0;
      }

      &::before{
        top: 0;
        @include transform(rotate(44deg));
      }
    }
  }

  &__column {
    &:first-child {
      margin-bottom: 60px;
    }

    @include MQ(M) {
      &:first-child {
        margin-bottom: 0;
        margin-right: 25px;
        width: 62%;
      }

      &:last-child {
        width: 38%;
      }
    }
  }

  &__logo {
    display: block;
    max-width: 180px;
    margin: 0 0 30px;

    @include MQ(M) {
      max-width: 270px;
      margin: 0 auto 80px;
    }
  }

  &__desc {
    padding: 0 15px;

    p {
      color: $mine-shaft;
      font-family: $ss;
      font-size: 12.5px;
      font-weight: 100;
      letter-spacing: 4px;
      line-height: 1.2;
      position: relative;
      padding-right: 20px;
      max-height: 203px;
      word-spacing: 6px;
    }
  }

  &__title {
    h4 {
      color: $mine-shaft;
      font-family: $ss;
      font-size: 20px;
      font-weight: 700;
      margin-top: -2px;
      margin-bottom: 25px;
      text-transform: uppercase;

      small {
        color: $ship;
        display: block;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 6px;
        line-height: 1.2;
        margin-bottom: 8px;
        text-transform: lowercase;
      }
    }
  }

  .Car-info {
    border-bottom: 1px solid #a9a9a9;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &__date,
    &__price {
      font-size: 16px;

      &::before {
        height: 18px;
        width: 18px;
      }
    }
  }
}

.modal {
  &-content {
    box-shadow: none;
    border: 0;
    background: transparent;
  }

  &-dialog {
     top: 15%;
  }

  &-backdrop {
    background: white;

    &.in {
      opacity: .95;
    }
  }
}
